* {
  box-sizing: border-box;
}

body {
  color: #40514e;
  font-family: "Merriweather", serif;
  font-size: 121%;
  margin: 0;
  text-align: center;
}

h1 {
  color: #66bfbf;
  font-size: 5.625rem;
  /*100%-16px 90px/16px = 562.5% /// 16px = 1em*/
  font-family: "Sacramento", cursive;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  /* 40px/16px = 2.5rem */
  padding-bottom: 10px;
}

h3 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
}

h5 {
  color: #333;
  font-family: "Montserrat", sans-serif;
}

p {
  line-height: 1.5;
}

a {
  color: #11999e;
  text-decoration: none;
}

a:hover {
  color: #a5f5f5;
}

hr {
  border: dotted #eaf6f6 8px;
  border-bottom: none;
  width: 4%;
  margin: 80px auto;
}

/* Containers */
.top-container {
  background-color: #eaf6f6;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

/* Top Container */
.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  bottom: 300px;
  left: 250px;
  position: absolute;
}

/* Middle Container */
.intro {
  margin: auto;
  width: 48%;
}

.title {
  margin: 0 0 10px 0;
  font-size: 1.6rem;
}

.company {
  margin: 0 0 5px 0;
  font-size: 1rem;
}

.date {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}

.content {
  font-size: 1.2rem;
}

.experience-row {
  margin: 40px auto;
  text-align: left;
  width: 50%;
}

.misstepstudio-img,
.balcellsintegralservice-img,
.bombasvalero-img,
.jandusoft-img,
.rampagegamestudios-img,
.pupgamstudios-img {
  width: 100%;
}

.project-row {
  margin: 60px 100px 0 100px;
}

.project-link {
  font-family: "Montserrat", sans-serif;
  font-size: 1.75rem;
}

.project-content {
  text-align: left;
  font-size: 1.2rem;
}

.steamoverload-gif,
.dreamball-gif,
.robinfruit-gif,
.explodingturtles-gif,
.arcadess-gif,
.lemmings-gif {
  width: 100%;
}

.education-row {
  margin: 60px auto;
  text-align: left;
  width: 50%;
}

.level-up-img,
.universitat-barcelona-img,
.escola-pia-img {
  width: 100%;
}

.contact-message {
  margin: 0 auto 60px;
  width: 40%;
  font-size: 1.2rem;
}

/* Bottom Container */
.footer-link {
  font-size: 1.25rem;
  margin: 10px 5px;
}

.linkedin,
.github,
.instagram,
.x-twitter {
  padding: 15px;
}

.linkedin:hover {
  background: #00a0dc;
}

.github:hover {
  background: #333;
}

.instagram:hover {
  background: #e1306c;
}

.x-twitter:hover {
  background: #14171a;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.85rem;
  padding: 20px 0;
}

/* Buttons */
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 1em;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

/* Create two unequal columns that floats next to each other */
.column-unequal {
  float: left;
  padding: 10px;
}

.col-left {
  width: 10%;
}

.col-right {
  width: 90%;
}

/* Create two equal columns that floats next to each other */
.column-equal {
  float: left;
  padding: 25px;
  width: 50%;
}

/* Clear floats after the columns */
.experience-row:after,
.project-row:after,
.education-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Hide elements */
.experience-row,
.education-row {
  position: relative;
  left: 0;
  transition: all 2s;
}

.hide-left {
  opacity: 0;
  left: -15%;
}

/* Lists */
.init-list {
  margin-bottom: 0;
}

.list {
  margin-top: 0;
}

/* Media Queries */
@media (max-width: 992px) {
  /* Tablet */
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 3.35rem;
  }

  hr {
    width: 12%;
    border-width: 16px;
  }

  /* Middle Container */
  .profile img {
    width: 30%;
  }

  .intro {
    width: 80%;
    font-size: 1.95rem;
  }

  .title {
    font-size: 2.15rem;
  }

  .date {
    font-size: 1.75rem;
  }

  .content {
    font-size: 1.85rem;
  }

  .experience-row {
    width: 80%;
  }

  .project-link {
    font-size: 2.35rem;
  }

  .project-content {
    font-size: 1.6rem;
  }

  .steamoverload-gif,
  .dreamball-gif,
  .robinfruit-gif,
  .explodingturtles-gif,
  .arcadess-gif,
  .lemmings-gif {
    width: 100%;
  }

  .education-row {
    width: 80%;
  }

  .level-up-img,
  .universitat-barcelona-img,
  .escola-pia-img {
    width: 100%;
  }

  .contact-message {
    font-size: 1.65rem;
  }

  /* Bottom Container */
  .linkedin,
  .github,
  .instagram,
  .x-twitter {
    font-size: 2.3rem;
  }

  .copyright {
    font-size: 0.75rem;
  }

  /* Buttons */
  .btn {
    font-size: 0.7em;
  }

  /* Create two equal columns that floats next to each other */
  .column-equal {
    width: 100%;
  }
}
