body {
  color: #40514E;
  font-family: "Merriweather", serif;
  font-size: 155%;
  margin: 0;
  text-align: center;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  /*100%-16px 90px/16px = 562.5% /// 16px = 1em*/
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  /* 40px/16px = 2.5rem */
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

a {
  color: #11999E;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

hr {
  border: dotted #EAF6F6 8px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

/* Containers */
.top-container {
  background-color: #EAF6F6;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

/* Top Container */
.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  bottom: 300px;
  left: 250px;
  position: absolute;
}

/* Middle Container */
.intro {
  margin: auto;
  width: 50%;
}

.skill-row {
  margin: 100px auto;
  text-align: left;
  width: 50%;
}

.code-img {
  float: left;
  margin-right: 30px;
  width: 25%;
}

.keyboard-mouse-img {
  float: right;
  margin-left: 30px;
  width: 25%;
}

.project-row {
  display: inline-block;
  margin: 100px auto 0 auto;
  width: 30%;
}

.project-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.75rem;
}

.deathbymisstep-img {
  width: 80%;
}

.dreamball-gif {
  width: 80%;
}

.steamoverload-gif {
  width: 80%;
}

/* Bottom Container */
.footer-link {
  font-size: 1.25rem;
  margin: 10px 5px;
}

.linkedin {
  padding: 15px;
}

.linkedin:hover {
  background: #00a0dc;
}

.instagram {
  padding: 15px;
}

.instagram:hover {
  background: #f77737;
}

.copyright {
  color: #EAF6F6;
  font-size: .85rem;
  padding: 20px 0;
}

/* Buttons */
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

/* Media Queries */
@media only screen and (max-width: 992px) {
  h1 {
    font-size: 6.5rem;
  }

  h2 {
    font-size: 3.375rem;
  }

  h3 {
    font-size: 2.75rem;
  }

  p {
    font-size: 2.15rem;
  }

  hr {
    width: 8%;
  }

  .intro {
    width: 70%;
  }

  .skill-row {
    width: 70%;
  }

  .code-img {
    width: 30%;
  }

  .keyboard-mouse-img {
    width: 30%;
  }

  .project-row {
    width: 60%;
  }

  .dreamball-img {
    width: 70%;
  }

  .steamoverload-img {
    width: 70%;
  }

  .linkedin {
    font-size: 2rem;
  }

  .instagram {
    font-size: 2rem;
  }

  .copyright {
    font-size: 1rem;
  }
}